# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite
*.db

# Google Credentials
google_credentials.json
.streamlit/secrets.toml
.env

# Local virtual environment
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
